body {
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

h1 {
    width: 510px;
    font-size: 64px;
    color: #1F3F68;
}

.contact-us {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

h3 {
    font-size: 36px;
    text-align: center;
}

h4 {
    width: 359px;
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

input,
textarea {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.submit {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.banner {
    border: 1px solid #000;
}

.menu {
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

.text-head {
    width: 425px;
}

.cards {
    display: flex;
    justify-content: space-between;
}